<div class="page-loader-wrapper">
  <div class="loader">
    <div class="m-t-30">
      <img
        class="zmdi-hc-spin"
        src="https://thememakker.com/templates/oreo/hospital/html/assets/images/logo.svg"
        width="48"
        height="48"
        alt="Hospital"
      />
    </div>
    <p>Please wait...</p>
  </div>
</div>

<div class="overlay"></div>

<nav class="navbar p-l-5 p-r-5">
  <ul class="nav navbar-nav navbar-left">
    <li>
      <div class="navbar-header">
        <a href="javascript:void(0);" class="bars"></a>
        <a class="navbar-brand" href="/"
          ><img
            src="https://thememakker.com/templates/oreo/hospital/html/assets/images/logo.svg"
            width="30"
            alt="Hospital"
          /><span class="m-l-10">Hospital</span></a
        >
      </div>
    </li>
    <li>
      <a href="javascript:void(0);" class="ls-toggle-btn" data-close="true"
        ><ion-icon name="swap-horizontal"></ion-icon
      ></a>
    </li>
    <li class="dropdown">
      <a
        href="javascript:void(0);"
        class="dropdown-toggle"
        data-toggle="dropdown"
        role="button"
        ><ion-icon name="flag"></ion-icon>
        <div class="notify">
          <span class="heartbit"></span>
          <span class="point"></span>
        </div>
      </a>
      <ul class="dropdown-menu pullDown">
        <li class="header">Project</li>
        <li class="body">
          <ul class="menu tasks list-unstyled">
            <li>
              <a href="javascript:void(0);">
                <div class="progress-container progress-primary">
                  <span class="progress-badge">Neurology</span>
                  <div class="progress">
                    <div
                      class="progress-bar"
                      role="progressbar"
                      aria-valuenow="86"
                      aria-valuemin="0"
                      aria-valuemax="100"
                      style="width: 86%"
                    >
                      <span class="progress-value">86%</span>
                    </div>
                  </div>
                  <ul class="list-unstyled team-info">
                    <li class="m-r-15">
                      <small class="text-muted">Team</small>
                    </li>
                    <li>
                      <img src="/images/xs/avatar2.jpg" alt="Avatar" />
                    </li>
                    <li>
                      <img src="/images/xs/avatar3.jpg" alt="Avatar" />
                    </li>
                    <li>
                      <img src="/images/xs/avatar4.jpg" alt="Avatar" />
                    </li>
                  </ul>
                </div>
              </a>
            </li>
            <li>
              <a href="javascript:void(0);">
                <div class="progress-container progress-info">
                  <span class="progress-badge">Gynecology</span>
                  <div class="progress">
                    <div
                      class="progress-bar"
                      role="progressbar"
                      aria-valuenow="45"
                      aria-valuemin="0"
                      aria-valuemax="100"
                      style="width: 45%"
                    >
                      <span class="progress-value">45%</span>
                    </div>
                  </div>
                  <ul class="list-unstyled team-info">
                    <li class="m-r-15">
                      <small class="text-muted">Team</small>
                    </li>
                    <li>
                      <img src="/images/xs/avatar10.jpg" alt="Avatar" />
                    </li>
                    <li>
                      <img src="/images/xs/avatar9.jpg" alt="Avatar" />
                    </li>
                    <li>
                      <img src="/images/xs/avatar8.jpg" alt="Avatar" />
                    </li>
                    <li>
                      <img src="/images/xs/avatar7.jpg" alt="Avatar" />
                    </li>
                    <li>
                      <img src="/images/xs/avatar6.jpg" alt="Avatar" />
                    </li>
                  </ul>
                </div>
              </a>
            </li>
            <li>
              <a href="javascript:void(0);">
                <div class="progress-container progress-warning">
                  <span class="progress-badge">Cardio Monitoring</span>
                  <div class="progress">
                    <div
                      class="progress-bar"
                      role="progressbar"
                      aria-valuenow="29"
                      aria-valuemin="0"
                      aria-valuemax="100"
                      style="width: 29%"
                    >
                      <span class="progress-value">29%</span>
                    </div>
                  </div>
                  <ul class="list-unstyled team-info">
                    <li class="m-r-15">
                      <small class="text-muted">Team</small>
                    </li>
                    <li>
                      <img src="/images/xs/avatar5.jpg" alt="Avatar" />
                    </li>
                    <li>
                      <img src="/images/xs/avatar2.jpg" alt="Avatar" />
                    </li>
                    <li>
                      <img src="/images/xs/avatar7.jpg" alt="Avatar" />
                    </li>
                  </ul>
                </div>
              </a>
            </li>
          </ul>
        </li>
        <li class="footer"><a href="javascript:void(0);">View All</a></li>
      </ul>
    </li>
    <li class="d-none d-md-inline-block">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search..." />
        <span class="input-group-addon">
          <ion-icon name="search"></ion-icon>
        </span>
      </div>
    </li>
    <li class="float-right">
      <a href="/sign-in" class="mega-menu" data-close="true"
        ><ion-icon name="power"></ion-icon
      ></a>
      <a href="javascript:void(0);" class="js-right-sidebar" data-close="true"
        ><ion-icon
          class="zmdi-settings zmdi-hc-spin"
          name="settings"
        ></ion-icon>
      </a>
    </li>
  </ul>
</nav>

<aside id="rightsidebar" class="right-sidebar">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#setting">
        <ion-icon class="zmdi-settings zmdi-hc-spin" name="settings"></ion-icon
      ></a>
    </li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane slideRight active" id="setting">
      <div class="slim_scroll">
        <div class="card">
          <h6>Skins</h6>
          <ul class="choose-skin list-unstyled">
            <li data-theme="purple">
              <div class="purple"></div>
            </li>
            <li data-theme="blue">
              <div class="blue"></div>
            </li>
            <li data-theme="cyan" class="active">
              <div class="cyan"></div>
            </li>
            <li data-theme="green">
              <div class="green"></div>
            </li>
            <li data-theme="orange">
              <div class="orange"></div>
            </li>
            <li data-theme="blush">
              <div class="blush"></div>
            </li>
          </ul>
        </div>
        <div class="card theme-light-dark">
          <h6>Left Menu</h6>
          <button
            class="t-light btn btn-default btn-simple btn-round btn-block"
          >
            Light
          </button>
          <button class="t-dark btn btn-default btn-round btn-block">
            Dark
          </button>
          <button class="m_img_btn btn btn-primary btn-round btn-block">
            Sidebar Image
          </button>
        </div>
        <div class="card">
          <h6>Information Summary</h6>
          <div class="row m-b-20">
            <div class="col-7">
              <small class="displayblock">MEMORY USAGE</small>
              <h5 class="m-b-0 h6">512</h5>
            </div>
            <div class="col-5">
              <div
                class="sparkline"
                data-type="bar"
                data-width="97%"
                data-height="25px"
                data-bar-Width="5"
                data-bar-Spacing="3"
                data-bar-Color="#00ced1"
              >
                8,7,9,5,6,4,6,8
              </div>
            </div>
          </div>
          <div class="row m-b-20">
            <div class="col-7">
              <small class="displayblock">CPU USAGE</small>
              <h5 class="m-b-0 h6">90%</h5>
            </div>
            <div class="col-5">
              <div
                class="sparkline"
                data-type="bar"
                data-width="97%"
                data-height="25px"
                data-bar-Width="5"
                data-bar-Spacing="3"
                data-bar-Color="#F15F79"
              >
                6,5,8,2,6,4,6,4
              </div>
            </div>
          </div>
          <div class="row m-b-20">
            <div class="col-7">
              <small class="displayblock">DAILY TRAFFIC</small>
              <h5 class="m-b-0 h6">25 142</h5>
            </div>
            <div class="col-5">
              <div
                class="sparkline"
                data-type="bar"
                data-width="97%"
                data-height="25px"
                data-bar-Width="5"
                data-bar-Spacing="3"
                data-bar-Color="#78b83e"
              >
                7,5,8,7,4,2,6,5
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-7">
              <small class="displayblock">DISK USAGE</small>
              <h5 class="m-b-0 h6">60.10%</h5>
            </div>
            <div class="col-5">
              <div
                class="sparkline"
                data-type="bar"
                data-width="97%"
                data-height="25px"
                data-bar-Width="5"
                data-bar-Spacing="3"
                data-bar-Color="#457fca"
              >
                7,5,2,5,6,7,6,4
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</aside>
